.footer{
    padding: 32px;

    //Logo
    &-logo{
        color: $first-color;
        font-size: $h1-font-size;
        font-weight: $font-semi-bold;
    }

    &-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
        justify-content: space-around;
        row-gap: 50px;
        margin: 30px 5px;
        place-items: center;
        
    }

    //box
    &-box{
        h1{
            font-size: $h2-font-size;
        }
        ul{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            a{
                color: $text-color;
                transition: all 0.5s ease;
                &:hover{
                    color: $first-color;
                }
            }
        }
    }

    &-form{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: 20px;
        input{
            padding: 20px 30px;
            border-radius: 64px;
            background-color: $container-color;
            color: $white-color;
        }
        button{
            padding: 15px !important;
            i{
                font-size: 20px !important;
            }
        }
    }
    &-bottom{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .social{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            i{
                font-size: 20px;
                cursor: pointer;
                transition: all 0.5s;
                &:hover{
                    color: $first-color;
                    scale: 1.3;
                }
            }
        }
        p{
            font-size: $h3-font-size;
        }
    }
}