.home{
    width: 72%;
    margin: 0 auto;
    display: grid;
    margin-top: 10%;
    grid-template-columns: 0.5fr 3fr;
    &-left{
        display: grid;
        place-items: center;
        span{
            rotate: 90deg;
            // font-size: $small-font-size;
            font-size: 25px;
            position: relative;
            white-space: nowrap;
            &::after{
                content: "";
                background-color: $text-color;
                width: 110px;
                height: 1px;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                right: -120px;
            }
        }
        &-social{
            display: grid;
            row-gap: 20px;
            a{
                color: $text-color;
                font-size: 20px;
                transition: all 0.5s ease;
                &:hover{
                    color: $first-color;
                }
            }
        }
    }
    &-center{
        display: grid;
        justify-self: center;
        position: relative;

        //resim
        img{
            width: 450px;
        }

        //baslik
        &-title{
            // font-size: $biggest-font-size;
            font-size: 320px;
            color: $first-color;
            position: absolute;
            top: -75px;
            display: flex;
            column-gap: 7px;
            justify-self: center;

            span:nth-child(2){
                z-index: -1;
            }
        }

        //tooltip
        &-tooltip{
            position: absolute;
            top: 5px;
            right: 24px;
            img{
                width: 100px;
            }
            &-text{
                background: $gradient-color;
                position: absolute;
                color: $white-color;
                padding: 6px 12px;
                border-radius: 64px;
                transform: translate(-4px, -20px);
                font-weight: $font-semi-bold;
            }
        }
    }
}