// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// import
@import "./variables";
@import "./header";
@import "./home";
@import "./about";
@import "./favorite";
@import "./model";
@import "./sponsor";
@import "./footer";
@import "./responsive";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    background-color: $body-color;
    color: $text-color;
    font-size: $normal-font-size;
    font-family: $body-font;
}
.section-title{
    text-align: center;
    font-size: 30px;
}

section{
    padding: 80px 16px;
}

h1, h2 {
    color: $white-color;
}

.button{
    background:linear-gradient(to right,#7d7d7d,#3a3a3a36);
    color: $white-color;
    padding: 20px 15px;
    border-radius: 64px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: $font-semi-bold;
    cursor: pointer;
    transition: all 0.5s ease;
    i{
        margin-left: 8px;
        color: $first-color;
        font-size: 32px;
    }
    &:hover{
        box-shadow: 0 0px 25px hsl(23, 100%, 50%);
    }
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin-top: 10px !important;
}
